/PHASE_1/API_SourceCode/node_modules/*
/PHASE_1/API_SourceCode/common/node_modules/
/PHASE_1/API_SourceCode/logs/*
/PHASE_1/API_SourceCode/database/database.sqlite
/PHASE_1/API_SourceCode/data/output.json
/PHASE_1/API_SourceCode/runlog.txt
/PHASE_1/API_SourceCode/scripts/runlog.txt
/PHASE_1/API_SourceCode/common/node_modules/*
/PHASE_2/Application_SourceCode/node_modules/*
/PHASE_2/Application_SourceCode/src/components/keys.js