.feed {
  text-align: left;
  width: 800px;
  margin: 10px 50px;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 100px;
  z-index: 1000;
  background-color: #bababa;
  border-radius: 15px;
  float: left;
}

.feedObj {
  min-width: 500px;
  max-width: 800px;
  width: 95%;
  margin: 5px auto;
  padding: 2px;
  padding-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1000;
  background-color: #cbcbcb;
  border-radius: 5px;
}

.feedTitle {
  min-width: 500px;
  max-width: 800px;
  width: 95%;
  margin-left: 10px;
  padding-left: 10px;
  z-index: 1000;
}

.headerText {
  color: black;
  text-decoration: none;
  margin-bottom: 0px;
}

.subText {
  font-style: italic;
  color: #8a8a8a;
  padding-top: 0px;
}

.centerText {
  text-align: center;
}

.followBtnPressed {
  background-color: #55cf71;
  color: white;
  border:none;
  border-radius: 5px;
  font-size: 18px;
  width: 220px;
  margin-right: 10px;
}

.followBtn {
  border:none;
  border-radius: 5px;
  font-size: 18px;
  width: 220px;
  margin-right: 10px;
}