
.pageBody {
    float: center;
    text-align: center;
    width: 100%;
}

.login {
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 10px 50px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
    z-index: 1000;
    background-color: #bababa;
    border-radius: 15px;
    float: center;
    display: inline-block;
}

.errorText {
    color: red;
    font-style: italic;
}